<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Cusomize</title>
  </head>
  <body>
    <div class="new">
      <h1>Edit Deer</h1>
      <div id="new-deer">
        <form action="/deer/<%=item.id%>?_method=PUT" method="POST" id="edit-form">
          Name: <input type="text" name="name" value="<%=item.name%>"><br/>
          Description: <input type="text" name="description" value="<%=item.descr%>"><br/>
          <!-- Picture: <input type="link" name="img" value="<%=item.img%>"><br/> -->
          Price: <input type="number" name="price" value="<%=item.price%>"><br/>
          Quantity: <input type="number" name="qty" value="<%=item.qty%>"><br/>
          <input type="submit" id="new-submit" value="submit your customization"/>
        </form>
        </div>
        <a href="/deer/<%=item.id%>"><button type="button" name="back" id="back-btn">BACK</button></a>
    </div>
  </body>
</html>
