<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


  <!--  === Bootstrap ===  -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!--Font Awesome CDN -->
    <script src="https://kit.fontawesome.com/5cdb86fe85.js" crossorigin="anonymous"></script>

    <!-- Slick.JS -->
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

    <!-- Slick -->
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

    <!-- Custom Stylesheet -->
     <link rel="stylesheet" href="assets/style.css">


  </head>
  <body>

      <header>
        <div class="container">
          <div class="row">
            <div class="col-md-4 col-sm-12 col-12">
              <div class="btn-group">
                <button class="btn border dropdown-toggle my-md-4 my-2 text-white"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >
                  USD
                </button>
                <div class="dropdown-menu">
                  <a href="#" class="dropdown-item">CAN</a>
                </div>
              </div>
            </div>

            <div class="col-md-4 col-12 text center">
              <h2 class="my-md-3 site-title text-white">Discount Reindeer</h2>
            </div>

            <div class="col-md-4 col-12 text-right">
              <p class="my-md-4 header links">
                <a href="#" class="px-2">Sign In</a>
                <a href="#" class="px-1">Create an Account</a>
              </p>
            </div>
          </div>
        </div>

        <!-- NAVBAR -->

        <!-- <div class="container-fluid p-0">
          <nav class="navbar navbar-expand-lg navbar-light bg-light white">

          <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a  href="#">HOME <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="#">FEATURES</a>
              </li>
              <li class="nav-item">
                <a href="/shop/deer/seed">SEED</a>
              </li>
              <li class="nav-item">
                <a href="/shop/<%=deer.id%>">PRICING</a>
              </li>
              <li class="nav-item">
                <a  href="#" tabindex="-1" aria-disabled="true">ABOUT</a>
              </li>
            </ul>
            </div>

            <div class="navbar-nav">
              <li class="nav-item border rounded circle mx-2 search-icon">
                <i class="fas fa-search p-2"></i>
              </li>
              <li class="nav-item border rounded circle mx-2 basket-icon">
                <i class="fas fa-shopping-basket p-2"></i>
              </li>
            </div>
          </nav>
        </div> -->

      </header>

      <!-- ====== MAIN ====== -->

      <main>

        <!-- First Slider -->
        <div class="container-fluid p-0">
          <div class="site-slider">
            <div class="slider-one">
              <div>
                <img src="./imgs/bg.jpg" height="703.5" class="img-fluid" alt="background">
              </div>

              <div>
                <img src="./imgs/bg2.jpg" height="703.5" class="img-fluid" alt="background2">
              </div>
              <div>
                  <img src="./imgs/bg3.jpg" height="703.5" class="img-fluid" alt="background3">
              </div>
              <div>
                  <img src="./imgs/Cupid.jpg" height="703.5" class="img-fluid" alt="Cupid">
              </div>
              <div>
                  <img src="./imgs/Dancer.jpg" height="703.5" class="img-fluid" alt="Dancer">
              </div>
              <div>
                  <img src="./imgs/Dasher.jpg" height="703.5" class="img-fluid" alt="Dasher">
              </div>
              <div>
                  <img src="./imgs/Vixen.jpg" height="703.5" class="img-fluid" alt="Vixen">
              </div>
            </div>

            <div class="slider-btn">
              <span class="prev position-top">
                <i class="fas fa-chevron-left"></i>
              </span>
              <span class="next position-top right-0">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>

            <!-- Slider JS function -->
            <script type="text/javascript">
              $('.slider-one').not(".slick-intialized").slick({
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
                prevArrow: ".site-slider .slider-btn .prev",
                nextArrow: ".site-slider .slider-btn .next"
              });
            </script>

          </div>
        </div>

        <!-- First Slider -->


      </main>
      <!-- Loop -->
      <%for(let i = 0; i < deer.length; i++) { %>
        <div class="container">
          <div class="imgs">
            <a href="/shop/<%=deer[i]._id%>">
              <img src="<%= deer[i].img %>" alt="img">
            </a>
          </div>
          <%= deer[i].name %>
          <!-- <form action="/shop/<%=deer[i]._id%>?_method=DELETE"  method="POST">

          <input type="submit" value="DELETE"/>
          </form> -->
          <!-- < <%= deer[i].description %> -->
          <!-- < <%= deer[i].price %>
          <%= deer[i].Quantity %>  -->
        </div>

    <%  } %>

      <!-- ===== FOOTER ====== -->
      <footer>
        <div class="footer-content">
          <!-- <h3>General Assembly</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
          <ul class ="social">
            <li>
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-youtube"></i></a>
              <a href="#"><i class="fa fa-google"></i></a>
              <a href="#"><i class="fa fa-linkedin-square"></i></a>
            </li>
          </ul>
        </div>
        <div class="footer-bottom">
          <p>copyight &copy;2020 Designed by <span>Drew Robbins</span></p>
        </div>
      </footer>






    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>



  </body>
</html>
